### General statistics ###

In [1]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
from scipy.stats import variation

from pandas.plotting import scatter_matrix
from string import punctuation

In [2]:
na_values = ['nan', 'N/A', 'NaN', 'NaT', '', 'Text', 'repost', 'r e p o s t -', 'Repost']
#na_values = ['nan', 'N/A', 'NaN', 'NaT', '0', '', 'Text', 'repost', 'r e p o s t -', 'Repost']
ira_data = pd.read_csv('../Data/data_IRA_Ads.csv', sep=";", parse_dates=['AD_CREATION_DATE', 'AD_END_DATE'], 
                       dayfirst=False, index_col='AD_ID', na_values=na_values)
ira_data = ira_data[ira_data['AD_IMPRESSIONS']>0]

In [3]:
ira_data.insert(5, 'AD_CLICKS_PER_VIEW', ira_data['AD_CLICKS']/ira_data['AD_IMPRESSIONS'])

In [4]:
epoch = datetime.datetime.utcfromtimestamp(0)

def unix_time_millis(dt):
    return (dt - epoch).total_seconds() * 1000.0

In [5]:
ira_data['AD_CREATION_WEEKDAY'] = ira_data['AD_CREATION_DATE'].dt.dayofweek
ira_data['AD_CREATION_YEAR'] = ira_data['AD_CREATION_DATE'].dt.year
ira_data['AD_CREATION_MONTH'] = ira_data['AD_CREATION_DATE'].dt.month
ira_data['AD_CREATION_DAY'] = ira_data['AD_CREATION_DATE'].dt.day
ira_data['AD_CREATION_TIME'] = ira_data['AD_CREATION_DATE'].dt.time
ira_data['AD_CREATION_EPOCH_TIME'] = ira_data['AD_CREATION_DATE'].apply(lambda x: unix_time_millis(x))

In [6]:
ira_data['AD_SPEND']=ira_data['AD_SPEND'].str.replace(' RUB','')

In [7]:
ira_data=ira_data.dropna(subset=['AD_TEXT']);
ira_data['AD_TEXT'].count()

2533

In [8]:
ira_data['AD_TEXT']=ira_data['AD_TEXT'].str.replace(r'https?:\/\/.*[\r\n]*', '')
ira_data['AD_TEXT']=ira_data['AD_TEXT'].str.replace(r'http?:\/\/.*[\r\n]*', '')

In [9]:
duplicateDF = pd.concat(g for _, g in ira_data.groupby("AD_TEXT") if len(g) > 1).copy()
duplicateDF.sort_values(by=['AD_TEXT'], inplace=True)

In [10]:
uniqueDF = ira_data.copy()
uniqueDF.drop_duplicates(subset ='AD_TEXT', 
                     keep = False, inplace = True)

In [11]:
ira_data['AD_TEXT'].count()

2533

In [12]:
duplicateDF['AD_TEXT'].count()

614

In [13]:
uniqueDF['AD_TEXT'].count()

1919

In [14]:
duplicateDF['AD_TEXT'].nunique()

203

In [15]:
duplicateDF['AD_TEXT'].value_counts().values

array([13, 12,  9,  8,  7,  7,  6,  6,  6,  6,  6,  6,  6,  6,  5,  5,  5,
        5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  4,  4,
        4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  3,  3,  3,  3,  3,
        3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,
        3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,
        3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2],
      dtype=int64)

In [16]:
duplicateDF[(duplicateDF['AD_IMPRESSIONS']>0) & duplicateDF['AD_TEXT'].str.match('We speak for all fellow members of LGBT community across the nation.')][['AD_CLICKS', 'AD_IMPRESSIONS', 'AD_CREATION_DATE', 'AD_CREATION_WEEKDAY','AD_CREATION_YEAR', 'AD_CREATION_MONTH','AD_CREATION_DAY','AD_CREATION_TIME','AD_TEXT', 'AD_SPEND', 'AD_POTENTIAL_TARGET']].head(20)

,AD_CLICKS,AD_IMPRESSIONS,AD_CREATION_DATE,AD_CREATION_WEEKDAY,AD_CREATION_YEAR,AD_CREATION_MONTH,AD_CREATION_DAY,AD_CREATION_TIME,AD_TEXT,AD_SPEND,AD_POTENTIAL_TARGET
AD_ID,,,,,,,,,,,
669,91,1997,2015-06-17 03:15:18,2,2015,6,17,03:15:18,We speak for all fellow members of LGBT commun...,2673.94,144000000.0
591,5441,93925,2016-03-23 05:36:11,2,2016,3,23,05:36:11,We speak for all fellow members of LGBT commun...,31713.12,NaN
590,6566,67221,2015-11-05 23:11:58,3,2015,11,5,23:11:58,We speak for all fellow members of LGBT commun...,46994.76,36000000.0
588,21449,175460,2015-07-14 00:01:38,1,2015,7,14,00:01:38,We speak for all fellow members of LGBT commun...,93754.38,41000000.0
587,542,15175,2015-07-09 01:50:28,3,2015,7,9,01:50:28,We speak for all fellow members of LGBT commun...,6201.70,35000000.0
586,59,1811,2015-07-07 01:51:07,1,2015,7,7,01:51:07,We speak for all fellow members of LGBT commun...,757.65,166000000.0
592,7289,190076,2016-08-04 04:20:05,3,2016,8,4,04:20:05,We speak for all fellow members of LGBT commun...,36000.00,NaN
584,3206,31618,2015-06-23 05:06:57,1,2015,6,23,05:06:57,We speak for all fellow members of LGBT commun...,16630.20,143000000.0
583,186,4265,2015-06-22 08:19:07,0,2015,6,22,08:19:07,We speak for all fellow members of LGBT commun...,1393.55,139000000.0
582,1724,18891,2015-06-18 00:58:48,3,2015,6,18,00:58:48,We speak for all fellow members of LGBT commun...,10085.77,35000000.0
581,36,1438,2015-06-17 03:15:18,2,2015,6,17,03:15:18,We speak for all fellow members of LGBT commun...,1362.57,144000000.0
585,1252,11857,2015-07-01 02:55:07,2,2015,7,1,02:55:07,We speak for all fellow members of LGBT commun...,5538.24,165000000.0
580,103,122,2015-06-16 03:36:10,1,2015,6,16,03:36:10,We speak for all fellow members of LGBT commun...,129.66,35000000.0

### Common Statistics ###

**TODO** Mean, median etc. for success --> Chart(?)

In [37]:
ira_data.describe()

,AD_CLICKS,AD_IMPRESSIONS,AD_CLICKS_PER_VIEW,AD_POTENTIAL_TARGET,AD_CREATION_WEEKDAY,AD_CREATION_YEAR,AD_CREATION_MONTH,AD_CREATION_DAY,AD_CREATION_EPOCH_TIME
count,2533.000000,2.533000e+03,2533.000000,1.727000e+03,2533.000000,2533.000000,2533.000000,2533.000000,2.533000e+03
mean,1412.772996,1.561995e+04,0.101251,3.006923e+07,2.362811,2016.159889,5.980261,14.949862,1.470950e+12
std,3845.085612,5.275544e+04,0.078493,4.124947e+07,1.324155,0.679258,3.162840,7.368988,1.840162e+10
min,0.000000,1.000000e+00,0.000000,1.900000e+03,0.000000,2015.000000,1.000000,1.000000,1.433822e+12
25%,38.000000,6.010000e+02,0.045496,3.800000e+06,1.000000,2016.000000,4.000000,10.000000,1.460339e+12
50%,236.000000,3.359000e+03,0.100990,2.400000e+07,2.000000,2016.000000,5.000000,14.000000,1.472430e+12
75%,1390.000000,1.265300e+04,0.143902,3.700000e+07,3.000000,2017.000000,8.000000,21.000000,1.487746e+12
max,73063.000000,1.334544e+06,1.690789,2.530000e+08,6.000000,2017.000000,12.000000,31.000000,1.502664e+12

In [19]:
compair_AD_CLICKS = [[ira_data['AD_CLICKS'].median(),duplicateDF['AD_CLICKS'].median(),uniqueDF['AD_CLICKS'].median()],[ira_data['AD_CLICKS'].mean(),duplicateDF['AD_CLICKS'].mean(),uniqueDF['AD_CLICKS'].mean()],[ira_data['AD_CLICKS'].std(),duplicateDF['AD_CLICKS'].std(),uniqueDF['AD_CLICKS'].std()],[ira_data['AD_CLICKS'].var(),duplicateDF['AD_CLICKS'].var(),uniqueDF['AD_CLICKS'].var()],[variation(ira_data['AD_CLICKS']),variation(duplicateDF['AD_CLICKS']),variation(uniqueDF['AD_CLICKS'])]]
pd.DataFrame(compair_AD_CLICKS ,columns=["All", "Duplicates","Unique"], index=["Median","Mean","Standard deviation","Variance", "Coefficient of variation"])

                                   All    Duplicates        Unique
Median                    2.360000e+02  7.500000e+01  3.170000e+02
Mean                      1.412773e+03  1.564073e+03  1.364363e+03
Standard deviation        3.845086e+03  5.341859e+03  3.223029e+03
Variance                  1.478468e+07  2.853546e+07  1.038792e+07
Coefficient of variation  2.721121e+00  3.412569e+00  2.361680e+00

In [34]:
compair_AD_IMPRESSIONS = [[ira_data['AD_IMPRESSIONS'].median(),duplicateDF['AD_IMPRESSIONS'].median(),uniqueDF['AD_IMPRESSIONS'].median()],[ira_data['AD_IMPRESSIONS'].mean(),duplicateDF['AD_IMPRESSIONS'].mean(),uniqueDF['AD_IMPRESSIONS'].mean()],[ira_data['AD_IMPRESSIONS'].std(),duplicateDF['AD_IMPRESSIONS'].std(),uniqueDF['AD_IMPRESSIONS'].std()],[ira_data['AD_IMPRESSIONS'].var(),duplicateDF['AD_IMPRESSIONS'].var(),uniqueDF['AD_IMPRESSIONS'].var()],[variation(ira_data['AD_IMPRESSIONS']),variation(duplicateDF['AD_IMPRESSIONS']),variation(uniqueDF['AD_IMPRESSIONS'])]]
pd.DataFrame(compair_AD_IMPRESSIONS ,columns=["All", "Duplicates","Unique"], index=["Median","Mean","Standard deviation","Variance", "Coefficient of variation"])

                                   All    Duplicates        Unique
Median                    3.359000e+03  1.516000e+03  3.970000e+03
Mean                      1.561995e+04  2.262974e+04  1.337711e+04
Standard deviation        5.275544e+04  7.501965e+04  4.306521e+04
Variance                  2.783136e+09  5.627947e+09  1.854612e+09
Coefficient of variation  3.376773e+00  3.312390e+00  3.218482e+00

In [35]:
compair_AD_CLICKS_PER_VIEW = [[ira_data['AD_CLICKS_PER_VIEW'].median(),duplicateDF['AD_CLICKS_PER_VIEW'].median(),uniqueDF['AD_CLICKS_PER_VIEW'].median()],[ira_data['AD_CLICKS_PER_VIEW'].mean(),duplicateDF['AD_CLICKS_PER_VIEW'].mean(),uniqueDF['AD_CLICKS_PER_VIEW'].mean()],[ira_data['AD_CLICKS_PER_VIEW'].std(),duplicateDF['AD_CLICKS_PER_VIEW'].std(),uniqueDF['AD_CLICKS_PER_VIEW'].std()],[ira_data['AD_CLICKS_PER_VIEW'].var(),duplicateDF['AD_CLICKS_PER_VIEW'].var(),uniqueDF['AD_CLICKS_PER_VIEW'].var()],[variation(ira_data['AD_CLICKS_PER_VIEW']),variation(duplicateDF['AD_CLICKS_PER_VIEW']),variation(uniqueDF['AD_CLICKS_PER_VIEW'])]]
pd.DataFrame(compair_AD_CLICKS_PER_VIEW ,columns=["All", "Duplicates","Unique"], index=["Median","Mean","Standard deviation","Variance", "Coefficient of variation"])

                               All  Duplicates    Unique
Median                    0.100990    0.045532  0.117610
Mean                      0.101251    0.056756  0.115488
Standard deviation        0.078493    0.059293  0.078570
Variance                  0.006161    0.003516  0.006173
Coefficient of variation  0.775076    1.043843  0.680157

In [36]:
compair_AD_POTENTIAL_TARGET = [[ira_data['AD_POTENTIAL_TARGET'].median(),duplicateDF['AD_POTENTIAL_TARGET'].median(),uniqueDF['AD_POTENTIAL_TARGET'].median()],[ira_data['AD_POTENTIAL_TARGET'].mean(),duplicateDF['AD_POTENTIAL_TARGET'].mean(),uniqueDF['AD_POTENTIAL_TARGET'].mean()],[ira_data['AD_POTENTIAL_TARGET'].std(),duplicateDF['AD_POTENTIAL_TARGET'].std(),uniqueDF['AD_POTENTIAL_TARGET'].std()],[ira_data['AD_POTENTIAL_TARGET'].var(),duplicateDF['AD_POTENTIAL_TARGET'].var(),uniqueDF['AD_POTENTIAL_TARGET'].var()],[variation(ira_data['AD_POTENTIAL_TARGET']),variation(duplicateDF['AD_POTENTIAL_TARGET']),variation(uniqueDF['AD_POTENTIAL_TARGET'])]]
pd.DataFrame(compair_AD_POTENTIAL_TARGET ,columns=["All", "Duplicates","Unique"], index=["Median","Mean","Standard deviation","Variance", "Coefficient of variation"])

                                   All    Duplicates        Unique
Median                    2.400000e+07  1.700000e+07  2.400000e+07
Mean                      3.006923e+07  4.091496e+07  2.691603e+07
Standard deviation        4.124947e+07  6.294265e+07  3.166521e+07
Variance                  1.701519e+15  3.961777e+15  1.002686e+15
Coefficient of variation           NaN           NaN           NaN

In [20]:
ira_data['AD_CLICKS'].median()

236.0

In [21]:
ira_data['AD_CLICKS'].describe()

count     2533.000000
mean      1412.772996
std       3845.085612
min          0.000000
25%         38.000000
50%        236.000000
75%       1390.000000
max      73063.000000
Name: AD_CLICKS, dtype: float64

In [22]:
ira_data['AD_CLICKS'].var()

14784683.365115704

In [23]:
variation(ira_data['AD_CLICKS'])

2.721121191156818

In [24]:
ira_data['AD_IMPRESSIONS'].describe()

count    2.533000e+03
mean     1.561995e+04
std      5.275544e+04
min      1.000000e+00
25%      6.010000e+02
50%      3.359000e+03
75%      1.265300e+04
max      1.334544e+06
Name: AD_IMPRESSIONS, dtype: float64

In [25]:
ira_data['AD_CLICKS_PER_VIEW'].describe()

count    2533.000000
mean        0.101251
std         0.078493
min         0.000000
25%         0.045496
50%         0.100990
75%         0.143902
max         1.690789
Name: AD_CLICKS_PER_VIEW, dtype: float64

In [26]:
ira_data['AD_POTENTIAL_TARGET'].describe()

count    1.727000e+03
mean     3.006923e+07
std      4.124947e+07
min      1.900000e+03
25%      3.800000e+06
50%      2.400000e+07
75%      3.700000e+07
max      2.530000e+08
Name: AD_POTENTIAL_TARGET, dtype: float64

In [27]:
ira_data['AD_CREATION_WEEKDAY'].astype(object).describe()

count     2533
unique       7
top          3
freq       637
Name: AD_CREATION_WEEKDAY, dtype: int64

In [28]:
ira_data['AD_CREATION_YEAR'].astype(object).describe()

count     2533
unique       3
top       2016
freq      1300
Name: AD_CREATION_YEAR, dtype: int64

In [29]:
ira_data['AD_CREATION_MONTH'].astype(object).describe()

count     2533
unique      12
top          4
freq       484
Name: AD_CREATION_MONTH, dtype: int64